/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Satisfy&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&family=Satisfy&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    width: 0px  /*yandaki yukarı aşağı kaydrıma çubuğunu kaldırır*/
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    min-height: 100vh;
}
img, video{
    width: 100%;
}

a, a:active, a:link, a::before, a::after{
    text-decoration: none;
    /* color: white; */
}
ul{
    list-style: none;
}
p{
     color: #E48586; 
}


.topbar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to right, #091649, #68134f); /* #450f35 */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: bolt;
    color: white;
    /* justify-content: space-evenly; */
}

.topbar h4{
    font-size: normal;
    font-family: "Merriweather", serif;
    /* font-family: "Volkhov", serif; */
    font-weight: 900;
    font-style: italic;
    margin-left: 1px;    
    color: white;

}

.topbar{
    width: 100%;
    display: flex;
    
}

.topbar .right{ 
    flex: 3; 
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;
    /* padding-right:5px; */

}
.topbar a{
    color: white;
}
.topbar .left{
    flex: 3; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.topbar.right i{
    font-size: 1.3rem;
    color: white;
}

i:hover{
    opacity: 0.7;
}
.topbar .center{
    flex: 6;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.topbar .center a {
    color: white; /* Yazı rengini beyaz yap */
    text-decoration: none; /* Altı çiziliyi kaldır */
}
.center a:hover{
    opacity: 0.7;
    
    }
/* .left img {
        margin-right: 10px;  Resim ile yazı arasına 10px boşluk ekle 
}*/
.topbar .left span img{
    /* width: 30px;
    height: 30px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 35px;
    margin-right: 15px;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 10px; /* İkonun etrafına boşluk */
    margin-left: auto; /* Sağ tarafa yaslamak için */
    margin-right: auto; /* Sağ tarafa yaslamak için */
}

.hamburger i {
    font-size: 1.5rem;
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    align-items: center; /* Dikeyde ortalama */
}

/* Mobil menü stili */
.mobile-menu {
    display: none;
    flex-direction: column;
    background: linear-gradient(to right, #091649, #68134f);
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.mobile-menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
   /* border-top: 1px solid white;*/
}


/* Responsive  */
@media (max-width: 768px) {
    .topbar .center, .topbar .right {
        display: none;
    }
    
    .hamburger {
        display: block;
    }
}

/*SCROLL */

.topbar{
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-10px);

}

.topbar.active{
    opacity: 1;
    transform: translateY(0px);
}

.topbar .left i{
    transition: all 0.3s;
    transform: translateX(-20px);
    opacity: 0;
}

.topbar.active.left i{
    transition: all 0.3s;
    transform: translateX(0px);
    opacity: 1;
}

.topbar.active.left i:nth-child(2){
    transition-duration: 0.5s;
}

.topbar.active.left i:nth-child(3){
    transition-duration: 0.8s;
}

.topbar.active.left i:nth-child(4){
    transition-duration: 1.2s;
}

.topbar.center, .topbar.right{
    transform: translateX(-10px) translateY(-10px);
    transition: all 0.5s;
    opacity: 0;
}

.topbar.active.center, .topbar.active.right{
    transform: translateX(0px) translateY(0px);
    opacity: 1;
}  


.header {
    margin-top: 70px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.header img{
    width: 100%;
    height: 450px;
    object-fit: cover;    /*height resmin yapısı bozar bu ise tam sığdırır */

}
/* Responsive  */
@media (max-width: 768px) {
    .header{
        margin-top: 0px;
    }
}

.header h1, header h3{
    position: absolute;
}

.header h1{
    top: -30px;
    font-family: 'Pacifico', cursive;
    color: #770c5c;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,0.4),0px 0px 10px rgba(0,0,0,0.6);
}
@media (max-width: 768px) {
    .header h1{
        top: 40px;
        font-size: 2.8rem;
    }
}

.header h3{
    top: 50px;
    font-family: 'Satisfy', cursive;
    font-size: 2.6rem;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.4), 0px 0px 6px rgba(0,0,0,0.2);
}
@media (max-width: 768px) {
    .header h3{
        top: 120px;
    }
}



/* scroll animasyon */
.header{
    transform: translateX(-30px);
    transition: all 0.5s;
    opacity: 0;
}
.header.active{
    transform: translateX(0px);
    opacity: 1;
}

.header h1, .header h3{
    position: absolute;
    transform: translateY(-20px);
    transition: all 0.8s;
    opacity: 0;
}


.header.active h1, .header.active h3{
    position: absolute;
    transform: translateY(0px);
    opacity: 1;
}

.header.active h3{
    transition-delay: 0.3s;
    position: absolute;
    transform: translateY(0px);
} 


/*  Home */
.home{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0px 10px;
 }
 .home .wrapper{
    width: 100%;
    max-width: 1366px;
    display: flex;
    padding: 0 10px;
 }
.posts {
    flex: 9;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }
 
 .posts .post {
    width: calc(50% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
 }

 .post a{
    color:#770c5c;
 }


  @media(max-width:1100px){
    .posts .post {
       width: 100%;
    }
    .posts .post:nth-child(2n) {
       transition: all 0.5s;
    }
 }

 
 .posts h1 {
    font-family: 'Pacifico', cursive;
 }
 
 .posts img {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s;
 }

 .posts img:hover{
    transform: scale(1.1);
 }
 
 .posts p {
    padding: 5px;
    font-family: 'Arvo', serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;
    line-height: 20px;
 }
 
 .posts .tarih {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
 }
 
 .posts .tarih span:nth-child(1) {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
 }
 .posts .tarih span:nth-child(2) {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
 }
 
 .picture{
    overflow:hidden;
 }
 /* Scroll animasyon */

 .posts .post {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 0.5s;
    
 }
 .posts .post:nth-child(2n) {
    transition: all 0.8s;
 }
 .posts .post.active {
    transform: translateX(0px);
    opacity: 1;
 }
 
  
  .sidebar {
    flex: 3;
    padding: 0 20px;
 }

 @media (max-width: 768px) {
    .sidebar{
        display: none;
    }
 }
 
 .sidebar .alan {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 30px;
 }
 
 .sidebar h3 {
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    position: relative;
 }
 
 .sidebar h3::after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
 }
 
 .sidebar img {
    padding: 5px;
    border-radius: 15px;
 }
 
 .sidebar .kategori {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }
 
 .sidebar .kategori span {
    display: block;
    width: calc(50% - 10px);
    font-family: 'Arvo', serif;
    background-color: #f2dada;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
 }
 
 .sidebar a{
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    padding: 3px;
    margin-bottom: 5px;
    background-color: #f2dada;
 }
 .sidebar a:nth-child(2n + 1) {
    background-color: #e8d2d2;
 }
 
 
 /* Scroll animasyonnn */
 
 .sidebar .alan {
    opacity: 0;
    transition: all 0.5s;
 }
 .sidebar .alan.active {
    opacity: 1;
 } 

 .alan a{
    color: black;
 }

 .footer{
    background: linear-gradient(to right, #091649, #68134f);
 }

 .footer span{
    color: white;
 }

 /*scrol */ 
 
.footer{
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(0px);

}

.footer.active{
    opacity: 1;
    transform: translateY(-10px);
}
